astroid==2.3.3
click==7.1.1
fastapi==0.54.1
h11==0.9.0
httptools==0.1.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pydantic==1.4
pylint==2.4.4
redis==3.4.1
rq==1.3.0
six==1.14.0
starlette==0.13.2
uvicorn==0.11.7
uvloop==0.14.0
websockets==8.1
wrapt==1.11.2
yapf==0.29.0
