<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Welcome</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link
      rel="stylesheet"
      type= "text/css"
      href="{{ url_for('static', filename='styles/styles.css') }}"
    />
</head>
<body>
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est sunt maiores iure alias laborum hic pariatur quasi consequatur temporibus ratione! Labore hic laudantium vitae blanditiis officiis porro impedit asperiores harum!</p>
</body>
</html>